@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Kanit&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100&family=Roboto:wght@500&display=swap');


.login .container {
    padding: 50px;
}


.login input {
    margin: 5px 0 5px 0;
}




.sign-up .container {
    padding: 50px;
}

.sign-up input {

    margin: 5px 0 5px 0;

}

.login-button {
    margin: 20px 0 20px 0;
}

.login-form {
    background: #DEF2F1;
    border: 1px solid black;
    width: 30rem;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px #2B7A77;
}




.heading h1 {
    font-family: 'Oswald', sans-serif;
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: #3AAFA9;
    -webkit-text-size-adjust: 100%;

}



.login h1 {
    font-family: 'Dhurjati', sans-serif;
    font-family: 'Oswald', sans-serif;
}

.sign-up h1 {
    font-family: 'Dhurjati', sans-serif;
    font-family: 'Oswald', sans-serif;
}

input {
    width: 300px;
}

.navbar-text {
    margin: 0 auto;
    font-family: 'Dhurjati', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 33px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.navbar {
    background: #DEF2F1;
}

.main {
    padding: 40px;
}


.main-heading {
    text-align: center;
    font-family: 'Dhurjati', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: white;
}


.main-text {
    text-align: center;
    font-size: 25px;
    margin: 50px 0 20px 0;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
}

.main-input {
    margin: 0 auto;
    display: flex;
}

.recommendation-text {
    text-align: center;
    font-size: 25px;
    margin: 20px 0 20px 0;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
}

.recommendations li {
    padding: 10px;
    margin: 0 auto;
    list-style-position: inside;
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-family: 'Roboto', sans-serif;
    color: #DEF2F1
}

.main-button {
    display: flex;
    margin: 10px auto;
    border-radius: 0px;
    padding: 11px;
    background: #17242A;
    color: white;
}

h5 {
    color: red;
}


h3 {
    color: red;
}

.logout {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background: #3AAFA9;
    color: white;
    font-weight: 700;
}



.heading {
    margin: 22px 0px 0px 0px;
    text-align: center;
}

@media screen and (max-width: 480px) {

    .login-form {
        background: #DEF2F1;
        border: 1px solid black;
        width: 20rem;
        text-align: center;
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 10px 10px #2B7A77;
    }

    #username {
        width: 16rem;
    }

    #password {
        width: 16rem;
    }

    #email {
        width: 16rem;
    }

    #confirm-password {
        width: 16rem;
    }

    .logout {
        float: right;
        background: #DEF2F1;
        color: black;
        text-decoration: none;
        margin: 8px 0 0px 0;
    }

    .recommendations-form{
        display: flex;
    }
}